<?xml version="1.0"?>
<config>
	<modules>
		<Hj_Salesman>
			<version>1.0.1</version>
		</Hj_Salesman>
	</modules>
	<admin>
		<routers>
			<salesman>
				<use>admin</use>
				<args>
					<module>Hj_Salesman</module>
					<frontName>salesman</frontName>
				</args>
			</salesman>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<salesman module="salesman">
				<title>Salesman</title>
				<children>
					<item module="salesman">
						<title>Manage Salesman</title>
						<action>salesman/adminhtml_salesman/</action>
						<sort_order>80</sort_order>
					</item>
				</children>
			</salesman>
		</menu>
		<!-- <layout>
			<updates>
				<salesman>
					<file>salesman.xml</file>
				</salesman>
			</updates>
		</layout> -->
	</adminhtml>
	<global>
		<helpers>
			<salesman>
				<class>Hj_Salesman_Helper</class>
			</salesman>
		</helpers>
		<blocks>
			<salesman>
				<class>Hj_Salesman_Block</class>
			</salesman>
		</blocks>
		<models>
			<salesman>
                <class>Hj_Salesman_Model</class>
                <resourceModel>salesman_resource</resourceModel>
            </salesman>
            <salesman_resource>
                <class>Hj_Salesman_Model_Resource</class>
                <deprecatedNode>salesman_mysql4</deprecatedNode>
                <entities>
                    <salesman>
                        <table>salesman</table>
                    </salesman>
                </entities>
            </salesman_resource>
		</models>
		<resources>
            <salesman_setup>
                <setup>
                    <module>Hj_Salesman</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </salesman_setup>
            <salesman_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </salesman_write>
			<salesman_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </salesman_read>
        </resources>
	</global>
</config>